body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    font-weight: 200;
    min-height: 100vh;
    flex-direction: column;
}

#welcome {
    background-image: url('city.png');
    background-size: cover;
}

main {
    flex: 1 0 auto;
}

.container {
    text-align: center;
    color: #fff;
}

h1,
h4 {
    font-family: 'Source Sans Pro', Arial, serif;
    font-weight: 200;
}

.brand-logo {
    margin-left: 20px;
}

.navlink {
    font-size: 200%;
}

li {
    margin-right: 10px;
}

.prof {
    background-color: grey;
    margin-top: 50px;
}

.prof2 {
    background-color: #03a9f4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profimg {
    padding: 20px;
    border-radius: 50%;
}


/*
div {
    border-color: black;
    border-width: thin;
    border-style: dashed;
}
*/

.name {
    text-align: left;
}

p {
    text-align: center;
    font-weight: 300;
}

.row {
    margin-bottom: 0px;
}