<template name="chat">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper #03a9f4 light-blue">
                <a href="#!" class="brand-logo">APPchat</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/main" class="navlink">Home</a></li>
                    <li><a href="/profile" class="navlink">Profile</a></li>
                    <li class="active"><a href="/chat" class="navlink">Chat</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="chat">
        <h1>Chat Room</h1>
        <div class="box" id="response"></div>
        <room style="trendy" size="moderate" temperature="comfortable" furnishings="spartan">
            <chat type="secure" action="discuss">
                <post>
                    <textarea type="chat" id="chat_text"></textarea>
                </post>
                <br />
                <span id="chat_message">Message Sent!</span>
                <input id="lol" type="button" name="chat" value="Chat Now" />
            </chat>
        </room>
    </div>
</template>