<template name="Home1">
    <header>
        <title>Chatroom</title>
        <link rel="stylesheet" href="chatroom2.css">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic|Source+Sans+Pro:400,200,200italic,300,300italic,400italic' rel='stylesheet' type='text/css'>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    </header>

    <body>
        {{> yield}}
    </body>
</template>

<!--
<template name="atPwdFormBtn">
    <button type="submit" class="at-btn submit {{submitDisabled}}" id="at-btn">
        {{buttonText}}
    </button>
</template>
<template name="masterLayout">
    <button type="submit" class="at-btn submit {{submitDisabled}}" id="at-btn">
        {{buttonText}}
    </button>
</template>-->