<template name="main">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper #03a9f4 light-blue">
                <a href="#!" class="brand-logo">APPchat</a>
                <ul class="right hide-on-med-and-down">
                    <li class="active"><a href="/main" class="navlink">Home</a></li>
                    <li><a href="/profile" class="navlink">Profile</a></li>
                    <li><a href="/chat" class="navlink">Chat</a></li>
                </ul>
            </div>
        </nav>
    </div>
</template>