<template name="profile">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.materialboxed').materialbox();
        });
    </script>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper #03a9f4 light-blue">
                <a href="#!" class="brand-logo">APPchat</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/main" class="navlink">Home</a></li>
                    <li class="active"><a href="/profile" class="navlink">Profile</a></li>
                    <li><a href="/chat" class="navlink">Chat</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container prof">
        <div class="prof prof2 row">
            <div class="col s3">
                <img class="materialboxed profimg" width="200" src="http://philosophy.ucr.edu/wp-content/uploads/2014/10/no-profile-img.gif">
            </div>
            <div class="col s4" contenteditable="true">
                <div class="row">
                    <h4 class="name">John Doe</h4>
                </div>
                <div class="row" contenteditable="true">
                    <h4 class="name">Male</h4>
                </div>
                <div class="row" contenteditable="true">
                    <h4 class="name">DOB: 11/05/2000</h4>
                </div>
            </div>
            <div class="col s5" contenteditable="true">
                <div class="row">
                    <h4 class="name">email@email.com</h4>
                </div>
                <div class="row">
                    <h4 class="name">(555)555-5555</h4>
                </div>
                <div class="row">
                    <h4 class="name">Pasadena, Ca</h4>
                </div>
            </div>
        </div>
        <div class="row" contenteditable="true">
            <h4>Bio</h4>
        </div>
        <div contenteditable="true">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
    </div>
</template>