<template name="Welcome">

    <body id="welcome">
        <div>
            {{> loginButtons align=right}}
            <!--            {{> atForm}}-->
            <div class="container">
                <h1>Welcome</h1>
                <hr>
                <h4>Lorem ipsum dolor sit amet, elit dolor sollicitudin, praesent nunc nulla mi cursus aliquam sed. Nulla magna aliquet, turpis ac nec. Vestibulum ullamcorper nulla amet wisi scelerisque, turpis vitae nisl, ipsum porttitor aliquet. Leo venenatis nam, gravida pellentesque pede eget donec magna neque. Eleifend id metus enim ipsum nunc sit, vel leo et vulputate sem, ipsum risus illum consequat.</h4>
            </div>
            <center>
                {{#if currentUser}}
                <a class="waves-effect waves-light btn-large #03a9f4 light-blue" href="/main">Enter</a> {{else}}
                <a class="waves-effect waves-light btn-large #03a9f4 light-blue" href="#">Register</a> {{/if}}
            </center>
        </div>
    </body>
</template>